.parse-app,
.news-block {
  margin: 2rem auto 0 auto;
  max-width: 700px;
}
.news-description {
  word-wrap: break-word;
}
.btn {
  user-select: initial;
}

.img-block {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  padding-bottom: 1rem;
}
